@font-face {
    font-family: 'Retalic_30_Lt';
    src: url('../fonts/GT-Planar-Retalic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Italic_30_Lt';
    src: url('../fonts/GT-Planar-Italic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Regular_Lt';
    src: url('../fonts/GT-Planar-Light-Trial.woff2') format('woff2');
}

body {
    margin: none;
    padding-left: 1%;
    padding-right: 12.5%;
    font-family: Regular_Lt;
    font-weight: 400;
    font-style: normal;
    background-color: #131423;
    color: #050d3c;
    height: 200vh;
}

h2 {
    top: 2000px;
    color: red;
}

h1 {
    font-family: Italic_30_Lt;
    display: inline-block;
    color: #893c6f;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #84416e;
    font-size: 1.2 rem;
    font-weight: 500;
    text-decoration: none;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 1.4rem;
}

#anfassen_main {
    font-size: 2rem;
}

#anfassen_main:hover {
    font-family: Italic_30_Lt;
}

#erfassen_main {
    font-size: 2rem;
}

#erfassen_main:hover {
    font-family: Retalic_30_Lt;
}

a.main_title {
    text-decoration: none;
    color: #893c6f;
    font-size: 3rem;
}

a.main_title:hover {
    font-family: Italic_30_Lt;
}

a:hover {
    font-family: Italic_30_Lt;
}

.header {
    display: flex;
    /* position: sticky; */
    background-color: #131423;
    width: 100vw;
    top: 200;
}


/* styling für den pfeil button und die sections */

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}


/* section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100vw;
    height: 100vh;
} */

#section01 a {
    padding-top: 60px;
    /* width: 100vw;
    height: 100vh; */
}

#section01 a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
    margin-left: -12px;
    border-left: 1px solid #84416e;
    border-bottom: 1px solid #84416e;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section01 a span:hover {
    border-left: 2px solid #84416e;
    border-bottom: 2px solid #84416e;
}

#section02 a {
    top: 103%;
    /* width: 100vw;
    height: 100vh; */
}

#section02 h1 {
    top: 100%;
}

#section02 header {
    top: 1550;
}

#section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}