@font-face {
    font-family: 'Retalic_30_Lt';
    src: url('../fonts/GT-Planar-Retalic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Italic_30_Lt';
    src: url('../fonts/GT-Planar-Italic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Regular_Lt';
    src: url('../fonts/GT-Planar-Light-Trial.woff2') format('woff2');
}

body {
    padding: 0;
    margin: 0px;
    font-family: Regular_Lt;
    font-weight: 400;
    font-style: normal;
    background-color: #131423;
    color: #050d3c;
    height: 200vh;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #84416e;
    font-size: 1.5vw;
    font-weight: 500;
    text-decoration: none;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 1.5vw;
}

p {
    color: #84416e;
    position: absolute;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.7vw;
    line-height: auto;
    font-weight: 300;
    width: 50%;
    top: 36%;
    left: 25%;
}

img {
    width: 25vw;
    height: auto;
}

#beruehrungsprofile {
    position: absolute;
    top: 225vh;
    left: 6vw;
}

h1 {
    font-family: Italic_30_Lt;
    display: inline-block;
    color: #893c6f;
}

.namen_beruehrungsprofile {
    color: #84416e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
}


/* h2.namen_beruehrungsprofile {
    color: #893c6f;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    opacity: 70%;
    display: inline-block;
} */

#namen {
    display: flex;
    justify-content: space-evenly;
    margin-right: 4vw;
    /* padding-top: 75vh; */
}

h2.arrow_text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5vw;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    opacity: 70%;
}

h2.arrow_text:hover {
    opacity: 100%;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #84416e;
    font-size: 1.2 rem;
    font-weight: 500;
    text-decoration: none;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 1.5vw;
}

p {
    color: #84416e;
    position: absolute;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5vw;
    line-height: auto;
    font-weight: 300;
    width: 50%;
    top: 36%;
    left: 25%;
}

.container {
    margin-left: -4%;
    margin-top: 8%;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}

.container_2 {
    left: 25%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.item {
    justify-content: space-between;
    width: 30%;
    text-align: center;
    height: auto;
}

#main_title_top {
    position: absolute;
    top: 0;
}

#anfassen_main {
    font-size: 2rem;
}

#anfassen_main:hover {
    font-family: Italic_30_Lt;
}

#erfassen_main {
    font-size: 2rem;
}

#erfassen_main:hover {
    font-family: Retalic_30_Lt;
}

a.main_title {
    text-decoration: none;
    color: #893c6f;
    font-size: 3rem;
}

a.main_title:hover {
    font-family: Italic_30_Lt;
}

a:hover {
    font-family: Italic_30_Lt;
}

.header {
    display: flex;
    /* position: sticky; */
    background-color: #131423;
    width: 100vw;
    top: 200;
}

button {
    background-color: transparent;
    color: #893c6f;
    border-color: transparent;
}

.css-button {
    cursor: pointer;
    display: inline-flex;
    align-items: right;
    right: -12px;
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
}


/* .css-button:hover {
    background: linear-gradient(0deg, #000000 0%, #000000 0%);
} */

.css-button-icon {
    width: 36px;
    height: 36px;
}

.css-button-icon svg {
    vertical-align: right;
    position: relative;
}


/* styling für den pfeil button und die sections */

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}


/* section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100vw;
    height: 100vh;
} */

#section01 a {
    padding-top: 60px;
    /* width: 100vw;
    height: 100vh; */
}

#section01 a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-bottom: 36px;
    margin-left: -12px;
    border-left: 1px solid #84416e;
    border-bottom: 1px solid #84416e;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section01 a span:hover {
    border-left: 2px solid #84416e;
    border-bottom: 2px solid #84416e;
}

#section02 a {
    top: 103%;
    /* width: 100vw;
    height: 100vh; */
}

#section02 header {
    top: 1550;
}

#section02 a {
    padding-top: 60px;
    /* width: 100vw;
    height: 100vh; */
}

#section02 a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-bottom: 36px;
    margin-left: -12px;
    border-left: 1px solid #84416e;
    border-bottom: 1px solid #84416e;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section02 a span:hover {
    border-left: 2px solid #84416e;
    border-bottom: 2px solid #84416e;
}

#section03 a {
    padding-top: 60px;
    /* width: 100vw;
    height: 100vh; */
}

#section03 a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-bottom: 36px;
    margin-left: -12px;
    border-left: 1px solid #84416e;
    border-bottom: 1px solid #84416e;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section03 a span:hover {
    border-left: 2px solid #84416e;
    border-bottom: 2px solid #84416e;
}

#section04 a {
    padding-top: 60px;
    /* width: 100vw;
    height: 100vh; */
}

#section04 a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-bottom: 36px;
    margin-left: -12px;
    border-left: 1px solid #84416e;
    border-bottom: 1px solid #84416e;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section04 a span:hover {
    border-left: 2px solid #84416e;
    border-bottom: 2px solid #84416e;
}