@font-face {
    font-family: 'Retalic_30_Lt';
    src: url('../fonts/GT-Planar-Retalic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Italic_30_Lt';
    src: url('../fonts/GT-Planar-Italic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Regular_Lt';
    src: url('../fonts/GT-Planar-Light-Trial.woff2') format('woff2');
}

body {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 0px;
    font-family: Regular_Lt;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #050d3c;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: Italic_30_Lt;
    display: inline-block;
    color: #893c6f;
    font-size: 3vw;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.7vw;
}

h4 {
    font-size: 1.3vw;
}

p {
    text-align: justify;
    hyphens: auto;
    line-height: 125%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
}

ul {
    line-height: 180%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: space-around;
}

.item-left {
    width: 30%;
    padding-bottom: 0;
}

.title {
    width: 30%;
}

.nav {
    padding-top: 40px;
    position: fixed;
}

.content {
    width: 70%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
}

.menu {
    width: 70%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.header {
    display: flex;
    position: static;
    background-color: white;
    width: 100%;
}

a {
    color: #893c6f;
    font-size: 1.3vw;
    font-weight: 500;
    text-decoration: none;
    /* padding-top: 2%; */
    font-size: 1.5vw;
}

#nav_big {
    font-size: 1.5vw;
    font-family: Italic_30_Lt;
}

#nav_small {
    font-size: 1.3vw;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#nav_big:hover {
    font-family: Retalic_30_Lt;
}

#anfassen_main {
    font-size: 3vw;
}

#anfassen_main:hover {
    font-family: Italic_30_Lt;
}

#erfassen_main {
    font-size: 3vw;
}

#erfassen_main:hover {
    font-family: Retalic_30_Lt;
}

#current_link {
    font-family: Italic_30_Lt;
    color: #050d3c;
}

a.main_title {
    text-decoration: none;
    color: #893c6f;
}

a.main_title:hover {
    font-family: Italic_30_Lt;
}

a:hover {
    font-family: Italic_30_Lt;
}

.img_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    flex-wrap: wrap;
}