    @font-face {
        font-family: 'Retalic_30_Lt';
        src: url('../fonts/GT-Planar-Retalic-30-Light-Trial.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Italic_30_Lt';
        src: url('../fonts/GT-Planar-Italic-30-Light-Trial.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Regular_Lt';
        src: url('../fonts/GT-Planar-Light-Trial.woff2') format('woff2');
    }
    
    body {
        margin: 0px;
        font-family: Regular_Lt;
        font-weight: 400;
        font-style: normal;
        background-color: #131423;
        color: #050d3c;
        height: 100vh;
        width: 100%;
    }
    
    html {
        scroll-behavior: smooth;
    }
    /* positionierung von Inhalt auf der Seite  */
    
    .container-profile {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        vertical-align: center;
    }
    
    .container {
        display: flex;
        justify-content: space-around;
        vertical-align: center;
        width: 80%;
        position: relative;
        left: 10%;
        right: 10%;
    }
    
    .item {
        justify-content: space-between;
        width: 30%;
        text-align: center;
        height: auto;
    }
    /* Überschriften und Text */
    
    h1 {
        font-family: Italic_30_Lt;
        display: inline-block;
        color: #893c6f;
        font-size: 3vw;
    }
    
    h2 {
        font-size: 2.5vw;
    }
    
    h3 {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 1.7vw;
    }
    
    h4 {
        font-size: 1.3vw;
    }
    
    p {
        text-align: justify;
        hyphens: auto;
        line-height: 125%;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.3vw;
        font-weight: 300;
        color: #893c6f;
    }
    
    a {
        color: #893c6f;
        font-size: 1.3vw;
        font-weight: 500;
        text-decoration: none;
        /* padding-top: 2%; */
        font-size: 1.5vw;
    }
    
    ul {
        line-height: 180%;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.3vw;
        font-weight: 300;
    }
    
    .info {
        width: 60%;
        position: relative;
        top: 30%;
        left: 20%;
    }
    /* Navigation  */
    
    .header {
        display: flex;
        position: sticky;
        top: 0;
        background-color: white;
        width: 100%;
    }
    
    .title {
        width: 30%;
        line-height: 300%;
        position: relative;
        left: 10%;
    }
    
    .menu {
        width: 70%;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        background-color: white;
    }
    /* .nav {
        padding-top: 40px;
        position: fixed;
    } */
    
    .container {
        display: flex;
        justify-content: space-around;
    }
    
    .content {
        width: 70%;
        overflow-x: hidden;
        overflow-y: hidden;
        display: block;
    }
    
    .item-left {
        width: 30%;
        padding-bottom: 0;
    }
    /* styling für den pfeil button und die sections */
    
    h2.arrow_text {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
        position: absolute;
        bottom: 0;
        margin-bottom: 5%;
        width: 100%;
        text-align: center;
        opacity: 70%;
    }
    
    section {
        position: relative;
        width: 100%;
        height: 100vh;
    }
    
    #section01 a {
        padding-top: 60px;
        /* width: 100vw;
    height: 100vh; */
    }
    
    #section01 a span {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-bottom: 36px;
        margin-left: -12px;
        border-left: 1px solid #84416e;
        border-bottom: 1px solid #84416e;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
    }
    
    #section01 a span:hover {
        border-left: 2px solid #84416e;
        border-bottom: 2px solid #84416e;
    }
    
    #section02 a span {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-bottom: 36px;
        margin-left: -12px;
        border-left: 1px solid #84416e;
        border-bottom: 1px solid #84416e;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
    }
    
    #section03 a {
        padding-top: 60px;
        /* width: 100vw;
    height: 100vh; */
    }
    
    #section03 a span {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-bottom: 36px;
        margin-left: -12px;
        border-left: 1px solid #84416e;
        border-bottom: 1px solid #84416e;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
    }
    
    #section04 {
        padding-top: 60px;
        width: 100%;
        height: auto;
        background-color: white;
    }
    
    #section04 a span {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-bottom: 36px;
        margin-left: -12px;
        border-left: 1px solid #84416e;
        border-bottom: 1px solid #84416e;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
    }